.cartTitle{
    font-family: var(--brand-name);
    color: var(--blackish);
    font-size: 2rem;
    padding-bottom: 1rem;
    align-self: flex-start;
}
.cartText2{
    font-family: var(--brand-name);
    color: var(--blackish);
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0;
}
.cartShopBtn{
    text-decoration: none;
    font-size: 1.3rem;
    width: auto;
    height: 3em;
    background-color: var(--pink);
    border: 2px solid var(--mauve);
    border-radius: 7px;
    padding: 0.6em 0.8em;
    transition: all 0.4s linear;
    align-self: flex-start;
}
.cartShopBtn:hover{
    color: var(--blackish);
    background-color: var(--light-blue);
    border: 2px solid var(--pink);
}
.cartTrashBtn{
    align-self: flex-end;
    padding: 0.5rem;
    margin-top: 2rem;
}