
.counter-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.counter-text{
    font-family: var(--serif-text);
    font-size: 0.9em;
    color: var(--blackish);
    margin: 0;
}
.counter-btn{
    font-family: var(--regular-text);
    font-weight: bold;
    font-size: 0.9em;
    color: var(--blackish);
}