.navbar{
    background-color: var(--mauve);
}
.navbar-brand{
    font-family: var(--brand-name);
    font-size: 3em;
    color: var(--blackish);
    margin: 0 0.8em;
    padding: 0;
}
.navbar-nav{
    color: var(--blackish);
}
.nav-link{
    font-family: var(--regular-text);
    font-size: 1.2em;
    font-weight: 500
}
