/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');

/* VARIABLES */
:root{
  /* Colors */
  --mauve: #9D8189;
  --pink: #F4ACB7;
  --soft-pink: #FFCAD4;
  --softer-pink: #FFE5D9;
  --light-blue: #D8E2DC;
  --blackish: #090302;
  /* Fonts */
  --regular-text: 'Montserrat';
  --brand-name: 'Monsieur La Doulaise';
}
/* NAVBAR STYLE */
.navbar{
  background-color: var(--mauve);
}
.navbar-brand{
  font-size: 2em;
}
.nav-item{
  font: var(--regular-text);
  font-size: 1em;
}
.btnCart{
  background-color: var(--pink);
  border: 2px solid var(--light-blue);
  border-radius: 7px;
  padding: 0.6em 0.8em;
  transition: all 0.4s linear;
}
.btnCart:hover{
  background-color: var(--light-blue);
  border: 2px solid var(--pink);
}
.simple-text{
  font: var(--regular-text);
  font-size: 1.5em;
  color: var(--blackish);
  text-align: center;
  padding: 1em;
}