/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');

/* VARIABLES */
:root{
  /* Colors */
  --mauve: #DBBBF5;
  --pink: #F8C9D0;
  --soft-pink: #FFCAD4;
  --softer-pink: #FFE5D9;
  --light-blue: #D8E2DC;
  --blackish: #090302;
  /* Fonts */
  --regular-text: 'Montserrat';
  --brand-name: 'Playfair Display', serif;
  --serif-text: 'Ovo', serif;
}
body {
  margin: 0;
  /* background-color: #FFE5D9 */
}
/* NAVBAR STYLE */
@import './components/Navbar/Navbar.css';
/* COUNTER STYLE */
@import './components/Counter/counter.css';
/* PAGE LOADER */
@import './components/pageLoader/pageLoader.css';
/* BUTTON STYLE */
.btn1{
  background-color: var(--pink);
  border: 2px solid var(--mauve);
  border-radius: 7px;
  padding: 0.2em auto;
  margin: 0 0.2em 0 0.2em;
}
.btn2{
  background-color: white;
  border: none;
  padding: 0.6em 0.8em;
}
.btnDetail{
  color: var(--blackish);
  width: auto;
  height: 3em;
  background-color: var(--pink);
  border: 2px solid var(--mauve);
  border-radius: 7px;
  padding: 0.6em 0.8em;
  transition: all 0.4s linear;
  margin: 0 auto 0 auto;
}
.btnDetail:hover{
  background-color: var(--light-blue);
  border: 2px solid var(--pink);
}
/* TEXT STYLE */
.prodTitleText{
  font-family: var(--serif-text);
  font-size: 1em;
  color: var(--blackish);
  padding: 0.5em;
  margin: 0;
}
.simple-text{
  font-family: var(--regular-text);
  font-size: 1em;
  color: var(--blackish);
  text-align: center;
  padding: 0.3em;
}
.prodPrice{
  font-family: var(--serif-text);
  font-size: 0.9em;
  color: var(--blackish);
}
/* DETAIL */
.detailTitleText{
  font-family: var(--serif-text);
  font-weight: 500;
  font-size: 1.5em;
  color: var(--blackish);
  text-align: left;
}
.detailPrice{
  font-family: var(--serif-text);
  font-size: 1em;
  color: var(--blackish);
}
.detailText{
  font-family: var(--serif-text);
  font-size: 1em;
  color: var(--blackish);
  text-align: left;
}
/* CARD */
.card{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--mauve);
  border-radius: 10px;
  padding: 1em;
}
.card:hover{
  box-shadow: 2px 0px 19px 7px rgba(244,172,183,0.69);
-webkit-box-shadow: 2px 0px 19px 7px rgba(244,172,183,0.69);
-moz-box-shadow: 2px 0px 19px 7px rgba(244,172,183,0.69);
}
/* IMAGES */
.prodImg{
  display: flex;
  justify-content: center;
  /* max-height: 20em; */
  width: 100%;
}
/* ITEM LIST CONTAINER */
.itemList{
  padding: 0;
  margin: 1em 0 1em 0;
  gap: 0.5em;
}
.prodData{
  width: 100%;
  height: 100%;
}
/* FLIP CARD */
.flip-card {
  background-color: transparent;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  max-height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: white;
  color: black;
}
.flip-card-back {
  background-color: white;
  color: white;
  transform: rotateY(180deg);
}
.imgFlip{
  max-height: 24em;
}